{% extends "base.html" %}

{% block title %}Crypto Market Overview{% endblock %}

{% block content %}
<div class="market-table-container">
    <h3 class="market-table-title">Market Overview</h3>
    <div class="trending-container">
        <div class="top-gainers-box">
            <h4>📈 Top Gainers</h4>
            <ul id="top-gainers-list"></ul>
        </div>
        <div class="top-losers-box">
            <h4>📉 Top Losers</h4>
            <ul id="top-losers-list"></ul>
        </div>
    </div>
</div>

<div class="market-table-container">
    <h3 class="market-table-title">CryptoVertex Market Watch</h3>
    <table class="market-table">
        <thead>
            <tr>
                <th>#</th>
                <th>Name</th>
                <th>Price</th>
                <th>24H Change</th>
                <th>Market Cap</th>
                <th>24H Volume</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for symbol, coin_data in market_data_for_template.items() %}
            <tr>
                <td>{{ loop.index }}</td>
                <td>
                    <img src="{{ url_for('static', filename='images/' + coin_data['logo_filename_stem'] + '-logo.png') }}" 
                         class="coin-logo" 
                         alt="{{ coin_data['full_name'] }} Logo">
                    <span>{{ coin_data['ticker_symbol'] }}</span>
                    <br>
                    <span class="coin-name-full">&nbsp;&nbsp;&nbsp;&nbsp;{{ coin_data['full_name'] }}</span>
                </td>
                <td><span data-symbol="{{ symbol }}" data-field="price">Loading...</span></td>
                <td><span data-symbol="{{ symbol }}" data-field="change">Loading...</span></td>
                <td>{{ coin_data['market_cap'] }}</td>
                <td>{{ coin_data['volume'] }}</td>
                <td class="action-cell">
                    <!-- Get the URL slug from ticker_symbol -->
                    <a href="/{{ coin_data['ticker_symbol'].lower() }}">
                        <svg width="20" height="20" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" 
                             class="trade-icon" data-symbol="{{ symbol }}">
                            <path fill-rule="evenodd" clip-rule="evenodd" 
                                  d="M16 3h3v4h3v9.999h-3v4h-3v-4h-3V7h3V3zm3 7h-3v3.999h3V10z" 
                                  fill="currentColor"></path>
                            <path d="M8 11h3v6H8v4H5v-4H2v-6h3V7h3v4z" 
                                  fill="currentColor"></path>
                        </svg>
                    </a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/live_data.js') }}"></script>
{% endblock %}